= MSA, Hometask 1

:Date:      2014-03-04
:Revision:  0.1

== 1. 

Скачать  данные ­ Plasmodium falciparum chromosome 13:
ftp://ftp.ncbi.nlm.nih.gov/genomes/Protozoa/Plasmodium_falciparum/NC_004317.gbk
или скачиваем chtomosome 13 и ее аннотацию с ncbi.
http://www.ncbi.nlm.nih.gov/genome/?term=Plasmodium+falciparum

== Задание 2. 

Прочесть позиции начал кодирующих регионов из gbk файла (CDS FEATURES). Позиции, в которых встречаются “<” или “>”, игнорировать(обозначают, что точные позиции начала или конца региона не известны). 

link:data\task2.txt[Файл с результатами]

== Задание 3. 

Вывести в файл последовательности нуклеотидов для начал сайтов трансляции(+-­ 10 нуклеотидов от первой позиции трансляции, т.е. всего 21 нуклеотид). Неизвестные нуклеотиды ‘N’ не надо учитывать. Если кодирующий регион идет “не последовательно”, то надо считывать только кодирующую область. (Например, если кодирующая область 
join(1000..1008,1200..1500), то начальная позиция +10 будет соответствовать координате 1201). 

link:data\task3.fasta[Файл с результатами]

== Задание 4. 

Делим хромосому на 2 выборки (сайты трансляции, которые начинаются в первой половине хромосомы ­ обучающий набор, остальные ­ тестовый). Далее работаем с обучающей выборкой. Посчитайте частоту встречаемости нуклеотидов для каждой позиции сайта трансляции(PFM).

Отнесем к обучающему набору сайты трансляции, первая позиция находится принадлежит диапазону [1,1645935] (правая граница получена как 3291871/2 - половина длины нуклеотидной последовательности), остальные сайты трансляции отнесем к тестовому набору

link:data\learning_set.fasta[Обучающая выборка]
link:data\test_set.fasta[Тестовые данные]

{{#nucleotide_positions }}
[options="header,footer"]
|=======================
| nucleotide \ position {{#pos}}  | {{.}}  {{/pos}}
|  A      {{#a}} |    {{.}} {{/a}}  
|  C      {{#c}} |    {{.}} {{/c}}
|  G      {{#g}} |    {{.}} {{/g}}  
|  T      {{#t}} |    {{.}} {{/t}}    
| Sum {{#sum}}  | {{.}}  {{/sum}}
|=======================
{{/nucleotide_positions }}

{{#normalized_positions }}
[options="header"]
|=======================
| nucleotide \ position {{#pos}}  | {{.}}  {{/pos}}
|  A      {{#a}} |    {{.}} {{/a}}  
|  C      {{#c}} |    {{.}} {{/c}}
|  G      {{#g}} |    {{.}} {{/g}}  
|  T      {{#t}} |    {{.}} {{/t}}    
|=======================
{{/normalized_positions }}

== Задание 5. 

Используя найденные последовательности в пункте 2, постройте лого с помощью weblogo.
image:img/file1yI7iI.png[]

== Задание 6. 

Посчитать матрицу весов(position specific scoring matrix), используя результаты, полученные в пункте 4.

{{#pssm }}
[options="header,footer"]
|=======================
| Prior | Pos {{#pos}}  | {{.}}  {{/pos}}
| {{pa}} | A      {{#a}} |    {{.}} {{/a}}  
| {{pc}} | C      {{#c}} |    {{.}} {{/c}}
| {{pg}} | G   {{#g}} |    {{.}} {{/g}}  
| {{pt}} | T      {{#t}} |    {{.}} {{/t}}    
| {{psum}} | Sum      {{#sum}} |    {{.}} {{/sum}}  
|=======================
{{/pssm }}

== Задание 7. 

Используя матрицу весов, постройте гистограмму scores для 

 a. известных начал CDS в обучающем наборе (из пунктов 1­2) image:img/cds_scores.svg[]

 b. всех подпоследовательностей во всей хромосоме. Приблизить это распределение нормальным. image:img/random_scores.svg[]

 c. сводный график (зеленым - гистограмма a, красным - гистограмма b) image:img/cds_scores_random_scores.svg[]
 
 d. сводный график 2 (зеленым - гистограмма a, красным - гистограмма b - отличие в том, что данные для гистограммы b берутся по последовательности, а не генерируются) image:img/cds_scores_random_scores2.svg[]

== Задание 8. 

По данным, полученным в предыдущем пункте, постройте график FP, FN в зависимости от отсечки для score, по которой определяется, что последовательность в хромосомы ­ это CDS.

== Задание 9. 

С  использованием значением отсечки, которое кажется вам разумным, проведите поиск CDS во второй половине хромосомы и проанализируйте результат (FP, FN, sensitivity, speciﬁcity, and PPV).